var config = {
  site: 'www.my-website.com',
  homepage: 'index',
  defaultLocale: 'en',
  app: {
    port: 3001,
    env: 'development'
  },
  db: {
    host: 'localhost',
    port: 27017,
    name: 'mywebsite'
  },
  mailer: {
    from: 'from@gmail.com',
    to: 'to@gmail.com',
    host: 'hostname',
    secure: false,
    port: 587,
    auth: {
      user: 'user',
      pass: 'pass'
    }
  },
  recaptcha: {
    sitekey: 'RECAPTCHA-SITEKEY',
    secretkey: 'RECAPTCHA-SECRETKEY'
  }
};

config.db.url = 'mongodb://' + config.db.host + ':' + config.db.port + '/' + config.db.name;

module.exports = config;
